<app-titulo [titulo]='titulo'></app-titulo>

<h3>Bem-vindo!</h3>
<div class="descricao" style="width: 500px;">
  Este sistema emula um <i>Gerenciador de Tarefas</i>. Nele você pode organizar tarefas,
  logar com seu usuário (administrador ou normal), onde o Administrador pode cadastrar, editar e deletar
  outros usuários.
  <p>
    Este sistema foi idealizado respeitando os princípios RESTful e foi desenvolvido em
    .NET Core e Angular 12. Nele você poderá realizar o CRUD completo numa Web API.
  </p>
</div>
